@charset "UTF-8";

@media (max-width: 480px){
	.line {
		width: 50px;
	}
}

@media (max-width: 768px){
		.content h1 {
	text-align: center;
	font-weight: 900;
	font-size: 75px;
}
	.content {
	margin: 5% 5%;
	}
	h2 {

	font-size: 50px;

}
	#CenterText {
	height: 80vh;
		margin-top: 10vh;
}
}

@media (min-width: 980px) and (max-width: 1280px){
	.content {
	margin: 5% 15%;
	}
}

@media (min-width: 768px) and (max-width: 980px){
	.content {
	margin: 5% 10%;
	}
			.content h1 {
	font-size: 100px;
}
		h2 {

	font-size: 60px;

}
}

@media (min-width: 480px) and (max-width: 768px){
	.line {
		width: 125px;
	}
}
